.padding-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.align-center {
  text-align: center;
}

.navlink__active {
  background-color: rgba(0,0,0,0.1);
  font-weight: 600;
}

.margin-top-2 {
  margin-top: 2rem;
}
