.padding-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.align-center {
  text-align: center;
}

.navlink-active {
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: 600;
}

.margin-top-2 {
  margin-top: 2rem;
}

.note {
  margin-bottom: 1rem;
  label {
    @extend .padding-1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: #fefefe;
    color: #000000;
  }

  i {
    z-index: 2;
  }
}

.done {
  span {
    text-decoration: line-through;
  }
}

nav {
  ul {
    li {
      height: 64px;
    }
  }
}

.input-field__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.filter {
  margin-left: 3rem;
  margin-right: 1.5rem;
  cursor: pointer;
}

